#home {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (max-width: 799px) {
#home {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
}
}