#main-certifications {
    width: 80vw;
    height: 560px;
    margin-block: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

#containerText-certifications {
    border: 1px solid white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    width: 40%;
}

#titleText-certifications {
    font-size: 45px;
    color: white;
}

#containerCert-certifications {
    display: flex;
    width: 40%;
    flex-direction: column;
}

#div1-certifications, #div2-certifications, #div3-certifications {
    display: flex;
    width: 100%;
    flex-direction: row;
}

#div1-certifications img, #div2-certifications img, #div3-certifications img {
    display: flex;
    object-fit: cover;
    width: 45%;
    margin: 5px;
    flex-direction: row;
    cursor: pointer;
}

.Logotext-certifications {
    height: 50px;
    width: 120px;
    object-fit: contain;
}

.certImages-certfications {
    object-fit: contain;
    box-shadow: 0 0 15px 1px rgba(255, 255, 255, 0.2);
    transition: box-shadow 0.2s ease-in-out;
}

.certImages-certfications:hover {
    box-shadow: 0 0 15px 5px rgba(255, 255, 255, 0.83);
    transition: box-shadow 0.2s ease-in-out;
}

/*********BLACK SQUARE PHOTOS*********/
#darkSquare-certifications {
    position: absolute;
    display: flex;
    height: 590px;
    width: clamp(200px, 40vw, 720px);
    transform: translate(4%, -1%);
    left: 0px;
    z-index: -2;
    background-color: rgb(5, 17, 32);
}

/*******************************/
@media (max-width: 1600px) {
    #titleText-certifications {
        font-size: 40px;
    }
}

@media (max-width: 1422px) {
    #darkSquare-certifications {
        width: clamp(200px, 48vw, 700px);
    }
}

@media (max-width: 1422px) {
    #main-certifications {
        width: 95vw;
        justify-content: space-evenly;
    }

    #containerText-certifications {
        width: 43%;
        border: none;
    }
}

@media (max-width: 1370px) {
    #div1-certifications img, #div2-certifications img, #div3-certifications img{
        object-fit: cover;
        width: 45%;
    }
}

@media (max-width: 1130px) {
    #main-certifications {
        width: 95vw;
        justify-content: space-evenly;
    }

    #div1-certifications, #div2-certifications, #div3-certifications{
        object-fit: cover;
    }
}

@media (max-width: 1024px) {
    #titleText-certifications {
        font-size: 35px;
    }

    #containerText-certifications {
        border: none;
    }
    #containerCert-certifications {
        width: 45%;
    }

    .certImages-certfications {
        height: auto;
    }

    #darkSquare-certifications {
        display: none;
    }

    #div1-certifications img, #div2-certifications img, #div3-certifications img{
        object-fit: cover;
    }

    #main-certifications {
        width: 90vw;
    }
}

@media (max-width: 799px) {
    #main-certifications {
        width: 96vw;
        height: auto;
        flex-direction: column;
        text-align: center;
    }



    #containerText-certifications {
        width: 80%;
    }



    #containerCert-certifications {
        display: flex;
        width: clamp(280px, 50%, 700px);
        height: auto;
        align-items: center;
        flex-direction: column;
    }

    #titleText-certifications {
        font-size: 27px;
        margin-block: 20px;
    }

    #div1-certifications, #div2-certifications, #div3-certifications{
        margin-block: 5px;
        justify-content: center;
    }

    #div1-certifications img, #div2-certifications img, #div3-certifications img{
        width: 45%;
    }
}

@media (max-width: 799px) {}