@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url("https://use.typekit.net/bva8qpx.css");

html {
  scroll-behavior: smooth;
}

.App {
  display: flex;
  justify-content: center;
  scroll-behavior: smooth;
}

* {
  /*RESET CONFIGS*/
  padding: 0;
  margin: 0;
  border: 0;

  font-family: 'Poppins', sans-serif;
}

html {
    background: black;
  /*background: linear-gradient(135deg, #182023, #0d151c, #040a12, #070b12, #161b1b);*/
}